* {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;

}

body {
    background-color:rgb(163, 11, 11);

}

main {
    background-color: white;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

}